h1{
  color: red;
  text-align: center;
}
#featured-property{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
nav{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
figcaption{
  text-align: center;
  font-size: small;
}
#details{
  overflow: hidden;
  background-color: red;
}
.details-item{
  float: left;
  width: 25%;
  text-align: center;


}
